/*---------------------
        All-Page
-=-----------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    direction: rtl;
    text-align: right;
    font-family: Estedad, serif;
    font-weight: 300;
    background: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none !important;
    color: #1d1d1d;
}

a:hover {
    color: #bea86f;
}

/*-----------header---------------*/
header{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 0 0 200px 0;

}
.header-top,.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header-bottom a i,
.header-top .top-menu a i{
    margin: 0 10px;
}

header .header-top .logo img{
     max-width: 100%;
     width: 200px
}

header .menu ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
}

header .menu ul li{
    padding: 0 10px;
}

/*-----------hero---------------*/

.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-top: 20px;
}
.hero img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 3px 2px 16px 2px rgba(125, 125, 125, 0.5);
}

/*-----------services---------------*/

.services{
    margin: 40px 0;
    padding:100px 0;
    background: #f2f2f2;

}

.services .s-item{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 3px 2px 16px 2px rgba(160, 78, 220, 0.5);
    cursor: pointer;
    margin: 10px;
    transition: all 2ms ease-in-out;
}
.services .s-item:hover{
    transition: all 2ms ease-in-out;
    transform: translateY(-10px);
}
.services .s-item img{
    padding: 10px;
}

/*-----------events---------------*/
.events{
    display: flex;
    justify-content: center;
    align-items: center;
}

.events .e-item{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 2px 16px 2px rgba(101, 160, 231, 0.5);
    cursor: pointer;

}

.events .e-item i{
    font-size: 40px;
    color: #C255D6;
}

.events .img-events img{
    max-width: 100%;
    align-items: center;
}

/*-----------info---------------*/
.info{
    margin: 100px 0;
    padding: 50px 10px;
    background: #F2F2F2;

}
.info .info-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.info .info-item .img-info{
     max-width: 100%;
}

.info .info-item .content-info{
    max-width: 550px;
}
.info .info-item .content-info h2{
    border-bottom: 3px solid #0a5b89;
    padding-bottom: 20px;

}

/*-----------crowd funding---------------*/