/*---------------------
        All-Page
-=-----------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    direction: rtl;
    text-align: right;
    font-family: Estedad, serif;
    font-weight: 300;
    background: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none !important;
    color: #1d1d1d;
}

a:hover {
    color: #bea86f;
}

/*-----------header---------------*/
header{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 0 0 200px 0;

}
.header-top,.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header-bottom a i,
.header-top .top-menu a i{
    margin: 0 10px;
}

header .header-top .logo img{
     max-width: 100%;
     width: 200px
}

header .menu ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
}

header .menu ul li{
    padding: 0 10px;
}

/*-----------hero---------------*/

.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-top: 20px;
}
.hero img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 3px 2px 16px 2px rgba(125, 125, 125, 0.5);
}

/*-----------services---------------*/

.services{
    margin: 40px 0;
    padding:100px 0;
    background: #f2f2f2;

}

.services .s-item{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 3px 2px 16px 2px rgba(160, 78, 220, 0.5);
    cursor: pointer;
    margin: 10px;
    transition: all 2ms ease-in-out;
}
.services .s-item:hover{
    transition: all 2ms ease-in-out;
    transform: translateY(-10px);
}
.services .s-item img{
    padding: 10px;
}

/*-----------events---------------*/
.events{
    display: flex;
    justify-content: center;
    align-items: center;
}

.events .e-item{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 2px 16px 2px rgba(101, 160, 231, 0.5);
    cursor: pointer;

}

.events .e-item i{
    font-size: 40px;
    color: #C255D6;
}

.events .img-events img{
    max-width: 100%;
    align-items: center;
}

/*-----------info---------------*/
.info{
    margin: 100px 0;
    padding: 50px 10px;
    background: #F2F2F2;

}
.info .info-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.info .info-item .img-info{
     max-width: 100%;
}

.info .info-item .content-info{
    max-width: 550px;
}
.info .info-item .content-info h2{
    border-bottom: 3px solid #0a5b89;
    padding-bottom: 20px;

}

/*-----------crowd funding---------------*/
.crowd-funding{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crowd-funding .cf-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    padding:50px;
    border-radius: 100px 0 0 0;
}
.crowd-funding .cf-card .cf-content{
    max-width: 450px;
}
.crowd-funding .cf-card .cf-img img{
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
}
/*-----------crowd funding2---------------*/
.crowd-funding2{
    margin: 50px 0;
    align-items: center;
}
.cf-item{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius:10px;
    box-shadow: 3px 2px 16px 2px rgba(125, 125, 125, 0.5);
    padding: 10px;

}

.crowd-funding2 .cf-item .cf-img img{
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.crowd-funding2 .cf-item .cf-content
{
    padding:30px 10px;
    text-align: center;

}
.crowd-funding2 .cf-item .cf-content .cf-content-footer
{
    padding:30px 10px;
    display: flex;
    justify-content: space-between;
}
.crowd-funding2 .cf-item .cf-content .cf-content-footer span{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.crowd-funding2 .cf-item .cf-content .cf-content-footer span .tit{
    font-size: 16px;
}
.crowd-funding2 .cf-item .cf-content .cf-content-footer span .num{
    font-size: 25px;
    font-weight: 500;
}
.crowd-funding2 .cf-item .cf-content .cf-content-footer .line{
    border-left: 1px solid #d4d4d4;
}

/*-----------blog-index--------------*/
.blog{
    margin: 100px 0;
}

.blog .blog-card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 2px 16px 2px rgba(125, 125, 125, 0.5);
}

.blog .blog-card .post-img img{
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0 0;
}

.blog .blog-card .post-expert{
    padding: 20px;
    text-align: center;
}

.section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

/*-----------footer-------------*/
.top-footer img{
    width: 100%;
    height: auto;
    margin-bottom: -25px;
}

footer{
    background: #EAEBFF;

}
.footer-widgets{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
}
.widget-footer{
    padding: 20px;
    border: 1px solid #c0c0c0;
}

.footer-copyright{
    text-align: center;
}



